DATABASE_URL=postgresql://user:password@ip:port/DB-NAME?schema=public
NUXT_JWT_ACCESS_SECRET=минимум-32-символа
NUXT_JWT_REFRESH_SECRET=другой-секрет-минимум-32-символа
NUXT_GOOGLE_CLIENT_ID=
NUXT_GOOGLE_CLIENT_SECRET=
NUXT_PUBLIC_APP_URL=http://localhost:3000
