POSTGRES_USER=myday
POSTGRES_PASSWORD=
POSTGRES_DB=myday

NUXT_JWT_ACCESS_SECRET=
NUXT_JWT_REFRESH_SECRET=
NUXT_GOOGLE_CLIENT_ID=
NUXT_GOOGLE_CLIENT_SECRET=
NUXT_PUBLIC_APP_URL=https://myday.example.com

APP_BIND=127.0.0.1
APP_PORT=3000
