DATABASE_URL=postgresql://user:password@ip:port/DB-NAME?schema=public
JWT_ACCESS_SECRET=минимум-32-символа
JWT_REFRESH_SECRET=другой-секрет-минимум-32-символа
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NUXT_PUBLIC_APP_URL=http://localhost:3000
